.custom-list {
    list-style-type:circle; /* or any other desired list style */
    list-style-position: inside;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
    display: grid;
    gap: 1rem;
    text-align: left;
  }


/* Banner.css */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .banner {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }
  