@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* font-family: 'Chakra Petch', sans-serif;  */

 font-family: 'Changa', sans-serif;
 scroll-behavior: smooth;
}

  .slider-img {
    display: flex;
    margin: 0 auto;
    height: 280px;
    width: 95%;
  }
  .slider-container {
    margin: 0 auto;
    width: 100%;
    text-align: left;
  }
  .slider-title, .slider-description {
    width: 90%;
    padding: 10px;  
    padding-right: 0;
  }


  .slick-prev {
    left: -35px !important;
  }
  .slick-next:before,
  .slick-prev:before {
    content: "" !important;
  }
  .next-slick-arrow,
  .prev-slick-arrow {
    color: #000000;
    font-size: 25px;
  }

